<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/about.css}"/>
    <script type="text/javascript" th:src="@{/unlockIncentive.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts.js}"></script>
</head>
<body>

<div class="about">
    <p class="title">Unlock Incentive</p>
    <table id="mainTable"><tr>
        <td><li><a th:href="@{/monthlyIncentive}">Monthly Incentive</a></li></td>
        <td><li><a th:href="@{/monthlyIncentiveAttendance}" id="monthlyIncAttendanceLinkId">Monthly Attendance</a></li></td>
        <!--   <td><li><a th:href="@{/incentive/incentiveHierarchyBasedForm}">MonthWise Incentive</a></li></td>-->
        <td><li><a th:href="@{/incentiveEmployeewise}">Employee Incentive</a></li></td>
        <td><li><a th:href="@{/incentiveCriteria}">Incentive Criteria</a></li></td>
        <!--  <td><li><a th:href="@{/incentiveEmployeewiseDetails}">Employeewise Incentive Details</a></li></td>
         <td><li><a th:href="@{/incentive/incentivePtax}">Incentive-Ptax</a></li></td>
          <td><li><a th:href="@{/incentiveUnlock}">Incentive Unlock</a></li></td>
          <td th:if="${message}" th:text="${message}" th:class="${'alert1 ' + alertClass}"/>-->
        <td th:if="${message1}">
            <li><a th:href="@{/incentiveUnlock}">Unlock Incentive</a></li>
        </td>
    </tr>
    </table>
    <div class="rewardcriteria">
       <!-- <form th:action="@{/processIncentiveUnlock}" method="get">-->
        <form>
            <table align="center">
                <tr>
                    <td>Select Year</td>
                    <td>
                        <select name="yearSel" id="yearSel">
                            <option th:each="year : ${yearList}"
                                    th:value="${year}"
                                    th:text="${year}"></option>
                        </select>
                    </td>

                    <td>Select Month</td>
                    <td>
                        <select name="monthSel" id="monthSel">
                            <option th:each="month : ${monthList}"
                                    th:value="${month}"
                                    th:text="${month}"></option>
                        </select>
                    </td>

                    <td>
                      <!--  <button type="submit">Incentive Unlock</button> -->
                        <input type="button" th:onclick="showLoader()" name="submit" value="Unlock Incentive" id="submit1">
                    </td>
                    <td id="messageId">

                    </td>
                  <!--  <td th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                    </td>-->
                </tr>
            </table>
        </form>
        <div align="center">
            <span id="upload-header-text"></span>
        </div>
    </div>
</div>

</body>
</html>
